#rain {
  background-color: #252934;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.drop {
  background-image: linear-gradient(#30cfd0 0%, #30cfd0 100%);
  border-radius: 3px;
  height: 3px; 
  opacity: 0;
  position: absolute;
  width: 3px;
}

/*dark: #8fd3f4, light: #84fab0*/
body.azure .drop { background-image: linear-gradient(rgba(143, 211, 244, .7) 0%, #84fab0 100%); }
body.azure .drop.solid { background-image: linear-gradient(#84fab0 0%, #84fab0 100%); }
body.azure h3,
body.azure a:hover,
body.azure a:hover svg { color: #84fab0; }
body.azure h4, 
body.azure h5 { color: #8fd3f4; }
body.azure #intro .__flex div {
  background: rgba(143, 211, 244, .1);
  border-left: 2px solid #8fd3f4;
}
body.azure .work-btn,
body.azure .skill_points span {
  background-image: linear-gradient(90deg, #8fd3f4 0%, #84fab0 100%);
}

/*dark: #96e6a1, light: #d4fc79 */
body.grass .drop { background-image: linear-gradient(rgba(150, 230, 161, .7) 0%, #d4fc79 100%); }
body.grass .drop.solid { background-image: linear-gradient(#d4fc79 0%, #d4fc79 100%); }
body.grass h3,
body.grass a:hover,
body.grass a:hover svg { color: #d4fc79; }
body.grass h4, 
body.grass h5 { color: #96e6a1; }
body.grass #intro .__flex div {
  background: rgba(150, 230, 161, .1);
  border-left: 2px solid #96e6a1;
}
body.grass .work-btn,
body.grass .skill_points span {
  background-image: linear-gradient(90deg, #96e6a1 0%, #d4fc79 100%);
}

/*dark: #d57eeb, light: #fccb90*/
body.fruit .drop { background-image: linear-gradient(rgba(213, 126, 235, .7) 0%, #fccb90 100%); }
body.fruit .drop.solid { background-image: linear-gradient(#fccb90 0%, #fccb90 100%); }
body.fruit h3,
body.fruit a:hover,
body.fruit a:hover svg { color: #fccb90; }
body.fruit h4, 
body.fruit h5 { color: #d57eeb; }
body.fruit #intro .__flex div {
  background: rgba(213, 126, 235, .1);
  border-left: 2px solid #d57eeb;
}
body.fruit .work-btn,
body.fruit .skill_points span {
  background-image: linear-gradient(90deg, #d57eeb 0%, #fccb90 100%);
}

/*dark: #8ec5fc, light: #e0c3fc*/
body.deep .drop { background-image: linear-gradient(rgba(142, 197, 252, .7) 0%, #e0c3fc 100%); }
body.deep .drop.solid { background-image: linear-gradient(#e0c3fc 0%, #e0c3fc 100%); }
body.deep h3,
body.deep a:hover,
body.deep a:hover svg { color: #e0c3fc; }
body.deep h4, 
body.deep h5 { color: #8ec5fc; }
body.deep #intro .__flex div {
  background: rgba(142, 197, 252, .1);
  border-left: 2px solid #8ec5fc;
}
body.deep .work-btn,
body.deep .skill_points span {
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

/*dark: #fa709a, light: #fee140*/
body.sunset .drop { background-image: linear-gradient(rgba(250, 112, 154, .7) 0%, #fee140 100%); }
body.sunset .drop.solid { background-image: linear-gradient(#fee140 0%, #fee140 100%); }
body.sunset h3,
body.sunset a:hover,
body.sunset a:hover svg { color: #fee140; }
body.sunset h4, 
body.sunset h5 { color: #fa709a; }
body.sunset #intro .__flex div {
  background: rgba(250, 112, 154, .1);
  border-left: 2px solid #fa709a;
}
body.sunset .work-btn,
body.sunset .skill_points span {
  background-image: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
}

/*dark: #330867, light: #30cfd0*/
body.morpheus .drop { background-image: linear-gradient(rgba(51, 8, 103, .7) 0%, #30cfd0 100%); }
body.morpheus .drop.solid { background-image: linear-gradient(#30cfd0 0%, #30cfd0 100%); }
body.morpheus h3,
body.morpheus a:hover,
body.morpheus a:hover svg { color: #30cfd0; }
body.morpheus h4, 
body.morpheus h5 { color: #330867; }
body.morpheus #intro .__flex div {
  background: rgba(51, 8, 103, .1);
  border-left: 2px solid #330867;
}
body.morpheus .work-btn,
body.morpheus .skill_points span {
  background-image: linear-gradient(90deg, #330867 0%, #30cfd0 100%);
}

/*dark: #96fbc4, light: #f9f586*/
body.lemon .drop { background-image: linear-gradient(rgba(150, 251, 196, .7) 0%, #f9f586 100%); }
body.lemon .drop.solid { background-image: linear-gradient(#f9f586 0%, #f9f586 100%); }
body.lemon h3,
body.lemon a:hover,
body.lemon a:hover svg { color: #f9f586; }
body.lemon h4, 
body.lemon h5 { color: #96fbc4; }
body.lemon #intro .__flex div {
  background: rgba(150, 251, 196, .1);
  border-left: 2px solid #96fbc4;
}
body.lemon .work-btn,
body.lemon .skill_points span {
  background-image: linear-gradient(90deg, #96fbc4 0%, #f9f586 100%);
}
